@using Bun.Blog.Core.Domain.Users
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> _userManager
@{
    var siteName = "Bun Blog Admin";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title | @siteName</title>

    <environment names="Development">
        <link href="~/lib/semantic-ui/dist/semantic.min.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="//cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet">
        <link href="~/css/bun_blog.min.css" rel="stylesheet" />
    </environment>

</head>
<body>
    <!-- top menu -->
    <div id="TopMenu" style="margin-left:15rem;" class="ui top fixed mini menu">
        @*<a class="item" style="width: 15rem;">@siteName</a>*@
        <a class="item" asp-controller="Home" asp-action="Index"><i class="world icon"></i> 查看站点</a>
        <div class="ui dropdown item">
            <i class="plus icon"></i> 添加<i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" asp-area="Admin" asp-route="PostNew">文章</a>
            </div>
        </div>
    </div>
    <!-- end top menu -->

    <div id="BunMain">
        <!-- sidebar -->
        <div class="column" id="Sidebar">
            <div class="ui left fixed vertical sticky menu">
                <a asp-area="Admin" asp-route="Admin" class="item">
                    <h1>@siteName</h1>
                </a>

                <a class="item" asp-area="Admin" asp-route="Dashboard">仪表盘</a>

                <div class="item">
                    <div class="header">文章</div>
                    <div class="menu">
                        <a class="item" asp-area="Admin" asp-route="PostList">所有文章</a>
                        <a class="item" asp-area="Admin" asp-route="PostNew">写文章</a>
                    </div>
                </div>

                <div class="item">
                    <div class="header">控制面板</div>
                    <div class="menu">
                        <a class="item" asp-area="Admin" asp-route="CategoryList">分类设置</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end sidebar -->
        <!-- page content -->
        <div class="column" id="PageContent">
            <div class="ui grid" id="ContentGrid">

                <div class="row">
                    <h2 class="">@ViewBag.Title</h2>
                    <div id="TitleRightArea" class="bun-margin-left">
                        @await RenderSectionAsync("TitleRightArea", required: false)
                    </div>
                </div>

                <div class="row">
                    <!-- render body -->
                    @RenderBody()
                    <!-- end render body -->
                </div>
            </div>
        </div>
        <!-- end page content -->
    </div>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/semantic-ui/dist/semantic.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.js"></script>
        <script src="~/js/bun_blog.min.js"></script>
    </environment>

    <script>
        $("#TopMenu .ui.dropdown").dropdown({
            on: "hover"
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
